{%extends 'base.html' %}
{% block title %} {{post.title_tag}} {% endblock %}

{% block content %}
    <h2>{{post.title}} </h2>
    <small>
        By: {{post.author.first_name}}
            {{post.author.last_name}}
            - <i>Published on: {{post.post_date}}</i>
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk %} " >(Edit) </a>
                <a href="{% url 'delete_post' post.pk %} " > (Delete) </a>
            {% endif%}
        {% endif %}   
    </small>

<br/> <hr> <br/>
<p>{{post.body| slice:":200"|safe}}</p>

<br/>
<a href="{% url 'home' %} " class="btn btn-secondary">Back</a>

<br/><br/>
<hr>
<br/>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}

        {% if liked %}
            <button type="submit", name="post_id", value="{{post.id}}", class="btn btn-danger btn-sm"> Unlike </button> 
        {% else %}
            <button type="submit", name="post_id", value="{{post.id}}", class="btn btn-primary btn-sm"> Like </button> 
        {% endif %}
        - {{ total_likes}} Likes
    {% else %}
        <small>This post has {{ total_likes}} Likes <br/></small> 
        <small><a class="" href="{% url 'login' %}"> Login </a>to like this post</small>   
    {% endif %}
</form>


{% endblock %}